<!-- Add your HTML to this file -->
<html>
<head>
	<meta charset="UTF-8">
	<title>My Contacts</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<div class="header">
	<h1 class="title">Customers and Comments</h1>
	</div>
	<div class="container">
		<form action="/contacts" method="post" accept-charset="utf-8">
		<% if @error %>
			<p class="error"><%= @error %></p>
		<% end %>
		<p>Name (required): <input type="text" name="contact[name]" /> Email (required): <input type="text" name="contact[email]"></p>
		<p>Comment (optional): 
			<br><textarea name="contact[comment]" id="" cols="75" rows="8"></textarea></p>
		<p><input type="submit" value="Submit" /></p>
	</form>
	<% @contacts.each do |c| %>
		<div class="post">
			<h4><%= c.name %> (<%= c.email %>) says:</h4>
			<p><%= c.comment %></p>
		</div>
	<% end %>
	</div>
</body>
</html>
